
/****************-------Main-------****************/

html *
{
   font-size: 16px;
   color: rgb(68, 0, 255);
   font-family: Arial, Helvetica, sans-serif;
}

/****************-------Title-------****************/

.title-wrapper {
  width: 350px;
  margin: 0 auto;
  cursor: pointer;
}

.txt-title {
  background-color: rgb(68, 0, 255);
  font-size: 3em;
  margin: 0px;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.txt-small {
  text-align: right;
  margin: 0px;
  font-size: .8em;
}

/****************-------Board-------****************/

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  height: 600px;
  width: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.board-frame {
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  border-width: 14px;
  border-color: white;
  height: 600px;
  width: 600px;
  pointer-events: none;
}

.tile {
  height: 172px;
  width: 172px;  
  background-color: white;
  margin: 14px;
}

.piece {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}