
/****************-------Main-------****************/

html *
{
   font-size: 16px;
   color: rgb(68, 0, 255);
   font-family: Arial, Helvetica, sans-serif;
}

/****************-------Header-------****************/

.title-wrapper {
  width: 350px;
  margin: 0 auto;
  cursor: pointer;
}

.txt-title {
  background-color: rgb(68, 0, 255);
  font-size: 3em;
  text-align: center;
  margin: 0px;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.txt-small {
  text-align: right;
  margin: 0px;
  font-size: .8em;
}

.feed-wrapper {
  width: 350px;
  margin: 0 auto;
}

.feed {
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 5px 0px 5px 0px;
  margin: 15px 0px 15px 0px;
  padding: 5px 0px 5px 0px;
}

/****************-------Board-------****************/

.board-wrapper {
  display: flex;
  justify-content: center;
}

.board-frame {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.spacers {
  position: absolute;
  /* box-sizing: border-box; */
  height: 572px;
  width: 572px;
  margin-top: 14px;
  background-color: black;
}

.spacers-winner {
  /* background-image: url('https://i.gifer.com/Ir8.gif'); */
  background-image: url('https://i.gifer.com/7Ik1.gif');
}

.tile {
  height: 172px;
  width: 172px;  
  background-color: white;
  margin: 14px;
  z-index: 10;
}

.piece {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}